<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<div style="text-align: center">

    <head style="min-height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: calc(10px + 2vmin); ">
        <img style="max-width: 100%;height: 40vmin; pointer-events: none;" src="/static/dataset-cover.JPG" alt="logo" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


      </head>


      <body>
<h1 class="text-center">Brain Tumor Classification Model with Deep and GLCM Features</h1>
<h3 class="text-success">{{result}}</h3>
<h4 class="alert-info">{{alert}}</h4>
<label form="formFileMultiple" class="form-label">Upload Brain MRI image:</label>
<form onSubmit={handleSubmit} action="/" method="post" enctype="multipart/form-data">
    <input name="imgFile" class="form-control" type="file" />
    <input type="submit" class="btn btn-dark" value="Submit Image for Prediction"></input>
</form>

<form action="/pred" method="post" enctype="multipart/form-data">

    <input type="submit" class="btn btn-dark" value="Start Prediction"></input>
</form>

</body>



    </div>
</html>







